<h1>Toys index</h1>

<div>
			<p>Search toys by:</p>
</div>

<div>
	<% if flash[:notice] %>
	  <div class="flash notice row">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>
</div>

<div class="container">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Toys Inventory</h4>
    </li>

  <% if @toys.any? %>
    <% @toys.each do |t| %>
 				<li class="collection-item">
          <div><%= link_to t.name, toy_path(t) %>
	          <a href="#!" class="secondary-content">
            <% if t.age_group_id? %>
	          	<%= t.age_group.age %>
            <% end %>
	          </a>
          </div>
        </li>
    <% end %>
	<% end %>
  </ul>
</div>