<div>
	<% if flash[:notice] %>
	  <div class="flash notice row">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>
</div>

<div class="container">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Toys Inventory</h4>
    </li>

  <% if @boxes.any? %>
    <% @boxes.each do |b| %>
 				<li class="collection-item">
          <div><%= link_to b.name, box_path(b) %>
	          <a href="#!" class="secondary-content">
	          	<%= b.age_group.age %>
	          </a>
	          <i class="fa fa-circle left" style="color:red" aria-hidden="true"></i>
          </div>
        </li>
    <% end %>
  <% end %>
  </ul>
</div>